<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css"  href="home_1.css">
    <script src="/index_node.js"></script>
</head> 
<body>

    <nav class="mainBoxNav">
        <div class="logonav">
           <img class="logo" src="./navbar_zone/Logo/logohotel.png">
        </div>
       
        <div class="listnav">
               <ul class="ulnav">
                   <li><a href="/">Home</a></li>
                   <li><a href="/about">About</a></li>
                   <li><a href="/roomtypes">Room Types</a></li>
                   <li><a href="/login">Login</a></li>
                   <li><a href="/register">Register</a></li>
                   <li><a href="/gallery">Gallery</a></li>
               </ul>
        </div>
       
        <div class="buttonnav">
               <button class="btnav">Book now</button>
        </div>
       
       </nav>
    
<section class="container">
    <div class="slider-wrapper">
        <div class="slider">
            <img id="slider-1" src="./img_home/S__9322511.jpg">
            <img id="slider-2" src="./img_home/ht_swim.jpg">
            <img id="slider-3" src="./img_home/ht_room.jpg">
            <img id="slider-4" src="./img_home/swim.png">
            <img id="slider-5" src="./img_home/res.png">
        </div>
            <div class="slider-nav">
                <a href="#slider-1"></a>
                <a href="#slider-2"></a>
                <a href="#slider-3"></a>
                <a href="#slider-4"></a>
                <a href="#slider-5"></a>
            </div>
    </div>
</section>


<div class="lorem">
    <h1>Welcome to OakHotel</h1>
    <p>We recommend staying at the "Rios Paradise Resort" for your upcoming trip. This exquisite resort offers luxurious accommodations<br>breathtaking sea views, and a host of amenities to make your stay truly unforgettable.<br> Whether you're seeking relaxation on the beach or exciting water activities, Oceanfront Paradise Resort has it all, making it an ideal choice for your coastal retreat.
    </p>   
    <button>BOOK NOW</button>
</div>


<!-- Room typesBar -->
<div class="roomtypesBar">
    <div class="textroombox">
        <div class="roomtypebox">
            <p>ROOM TYPES</p>
        </div>
    </div>

    <div class="roomshow">
        <div class="firstroom">
            <h1>Party Room</h1>
            <div><img src="./img_home/roomshow1.png"></div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi eveniet ea quis officia aspernatur. At optio corporis, perferendis laborum dicta harum voluptatum ad excepturi, repudiandae illo deserunt repellendus maiores a.</p>
        </div>

        <div class="Secondroom">
            <h1>Deluxe Room</h1>
            <div><img src="./img_home/roomshow2.png"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa corrupti deserunt molestiae itaque ut. Quo molestias minima sed incidunt sequi fuga numquam! Sit nulla repudiandae eos delectus nobis quod nihil.</p>
        </div>

        <div class="Thirdroom">
            <h1>Luxury Room</h1>
            <div><img src="./img_home/roomshow3.png"></div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro sit sint ipsam impedit, placeat, neque eos numquam delectus, iure beatae ab earum maiores quaerat aliquam? Culpa eos eligendi ut repellat!</p>
        </div>
    </div>
</div>





</body>
</html>