<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room types</title>
    <link rel="stylesheet" href="room.css">
</head>
<body>

<div class="picpre">
    <div class="left">
        <div class="pictop">

        </div>

        <div class="bottom">
            <div class="botpic"></div>
            <div class="botpic2"></div>
        </div>

    </div>

    <div class="right">
        <div class="textall">
            <h1>Enjoy Your Rest | Enjoy Your Life</h1>
            <p style="margin-top: 50px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem id obcaecati aperiam quibusdam eligendi quos quasi ex sunt dolorem recusandae. Cum iusto blanditiis culpa doloremque officiis velit exercitationem nobis sint!</p>
        </div>
       
    </div>
</div>

    

<div class="partyroompic">
    <div class="partopic">
    Party Room
    </div>
</div>

<div class="Party_detail">
    <div class="Topicpar">Detail</div>
    <div class="detailallpar">
        <div class="pardetial">
            <h1>Room Detail</h1>
            <ul>
                <li>Price / Night : 200,000 THB</li>
                <li>Capacity : 10 </li>
                <li>5 BedRoom</li>
                <li>3 BathRoom</li>
            </ul>
        </div>
    
        <div class="parUse">
            <h1>Service Usage</h1>
        </div>
    
        <div class="parroomservice">
            <h1>Service</h1>
        </div>
    
        <div class="parfaci">
            <h1>Facilities</h1>
        </div>
    
        <div class="parpark">
            <h1>Parking</h1>
        </div>
    </div>
</div>

<!--  -->
<div class="partyroompic2">
    <div class="partopic2">
        Deluxe Room
    </div>
    </div>
    
    <div class="Party_detail">
        <div class="Topicpar">Detail</div>
        <div class="detailallpar">
            <div class="pardetial">
                <h1>Room Detail</h1>
                <ul>
                    <li>Price / Night : 100,000 THB</li>
                    <li>Capacity : 2 </li>
                    <li>1 BedRoom</li>
                    <li>1 BathRoom</li>
                </ul>
            </div>
        
            <div class="parUse">
                <h1>Service Usage</h1>
            </div>
        
            <div class="parroomservice">
                <h1>Service</h1>
            </div>
        
            <div class="parfaci">
                <h1>Facilities</h1>
            </div>
        
            <div class="parpark">
                <h1>Parking</h1>
            </div>
        </div>
    </div>
    <!--  -->
    
    <div class="partyroompic3">
        <div class="partopic">
            Luxury Room
        </div>
        </div>
        
        <div class="Party_detail">
            <div class="Topicpar">Detail</div>
            <div class="detailallpar">
                <div class="pardetial">
                    <h1>Room Detail</h1>
                    <ul>
                        <li>Price / Night : 100,000 THB</li>
                        <li>Capacity : 2 </li>
                        <li>1 BedRoom</li>
                        <li>1 BathRoom</li>
                    </ul>
                </div>
            
                <div class="parUse">
                    <h1>Service Usage</h1>
                </div>
            
                <div class="parroomservice">
                    <h1>Service</h1>
                </div>
            
                <div class="parfaci">
                    <h1>Facilities</h1>
                </div>
            
                <div class="parpark">
                    <h1>Parking</h1>
                </div>
            </div>
        </div>


</body>
</html>