<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... (your existing HTML head content) ... -->
    <link rel="stylesheet" href="./regis.css">
    <script src="/public/controller/regis.js" type="text/application"></script>
</head>
<body>
    <div class="container">
        <div class="biggestbox">
            <!-- ... (your existing HTML content) ... -->

            <div class="formbiggestbox">
                <form id="registrationForm" method="POST" action="/submit">
                    <div class="box1">
                        <div class="name">
                            <p>Name</p>
                            <input id="name" name="name">
                        </div>
                        <div class="surname">
                            <p>Surname</p>
                            <input id="surname" name="surname">
                        </div>
                    </div>

                    <div class="phoneANDgender">
                        <div class="phone">
                            <p>Phone</p>
                            <input id="phone" name="phone">
                        </div>
                        <div class="gender">
                            <p>Sex</p>
                            <div class="radioboxsex" id="gender">
                                <input type="radio" name="gender" value="male">Male
                                <input type="radio" name="gender" value="female">Female
                                <input type="radio" name="gender" value="other">LGTQ+
                            </div>
                        </div>
                    </div>

                    <div class="box3un">
                        <div class="emailform">
                            <p>Email</p>
                            <input type="text" id="email" name="email">
                        </div>

                        <div class="country" id="country">
                            <p>Select your country</p>
                            <select id="country-select" name="country">
                                <option>---------Select your Country----------</option>
                                <option value="Thailand">Thailand</option>
                                <option value="India">India</option>
                                <option value="USA">USA</option>
                                <option value="Australia">Australia</option>
                                <option value="Switzerland">Switzerland</option>
                            </select>
                        </div>

                        <div class="date">
                            <p>Select Your Birthday</p>
                            <input id="datebirth" type="date" name="datebirth">
                        </div>
                    </div>

                    <div class="passwordform">
                        <div class="password">
                            <p>Password</p>
                            <input type="password" id="password" name="password">
                        </div>

                        <div class="confirmpassword">
                            <p>Confirm Password</p>
                            <input type="password" id="confirmpassword" name="confirmpassword">
                        </div>
                    </div>

                    <input class="regisbutton" id="regisbutton" type="submit" onclick="submiter()">
                </form>
            </div>
            <!-- ... (the rest of your HTML content) ... -->
        </div>
    </div>
</body>
</html>
