<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="./regis.css">
    <script src="/controller/regis.js"></script>
</head>
<body>

    <div class="container">
        <div class="biggestbox">

<!-- ---------------------------------------- -->
        <div class="registext">
            <p>Register</p>
        </div>
<!--  -------------------------------------- -->


    <div class="formbiggestbox">

        <div class="box1">

            <div class="name">
                <p>Name</p>
                <input id="name">
            </div>
            <div class="surname">
                <p>Surname</p>
                <input id="surname">
            </div>

        </div>

        <div class="phoneANDgender">

            <div class="phone">
                <p>Phone</p>
                <input id="phone">
            </div>

            <div class="gender">
                <p>Sex</p>

                <div class="radioboxsex" id="gender">
                    <input type="radio" name="gender"  value="male">
                    Male
                    <input type="radio" name="gender"  value="female">
                    Female
                    <input type="radio" name="gender" " value="other">
                    LGTQ+
                </div>
            </div>

        </div>

        <div class="box3un">
            <div class="emailform">
                <p>Email</p>
                <input type="text" id="email">
            </div>

            <div class="country" id="country">
                <p>Select your country</p>
                <select id="country-select">
                    <option>---------Select your Country----------</option>
                    <option value="Thailand">Thailand</option>
                    <option value="India">India</option>
                    <option value="USA">USA</option>
                    <option value="Australia">Australia</option>
                    <option value="Switzerland">Switzerland</option>
                </select>
            </div>
            

            <div class="date">
                <p>Select Your Birthday</p>
                <input id="datebirth" type="date">
            </div>
        </div>

        <div class="passwordform">
            <div class="password">
                <p>Password</p>
                <input type="password" id="password">
            </div>

            <div class="confirmpassword">
                <p>Confirm Password</p>
                <input type="password" id="confirmpassword">
            </div>
        </div>


        <button id="regisbutton" class="regisbutton" type="submit" onclick="submiter()">Regis</button>












    </div>

<!-- ---------------------------------------- -->
        </div>
    </div>


    



</body>
</html>