<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav class="mainBoxNav">
        <div class="logonav">
           <img class="logo" src="./navbar_zone/Logo/logohotel.png">
        </div>
       
        <div class="listnav">
               <ul class="ulnav">
                   <li><a href="/home">Home</a></li>
                   <li><a href="/about">About</a></li>
                   <li><a href="/roomtypes">Room Types</a></li>
                   <li><a href="/login">Login</a></li>
                   <li><a href="/register">Register</a></li>
                   <li><a href="/gallery">Gallery</a></li>
               </ul>
        </div>
       
        <div class="buttonnav">
               <button class="btnav">Book now</button>
        </div>
       
       </nav>
    
</body>
</html>